// Colors
$turqoise: #1ABC9C;
$greenSea: #16A085;
$emerald: #2ECC71;
$green: #27AE60;
$green-haze: #019875;
$gossip: #87D37C;
$river: #3498DB;
$blue: #2980D9;
$amethyst: #9B59B6;
$purple: #8E44AD;
$asphalt: #34495E;
$nightly: #2C3E50;
$sun: #F1C40F;
$orange: #F39C12;
$carrot: #E67E22;
$pumpkin: #D35400;
$rose: #E74C3C;
$red: #C0392D;
$powder: #ECF0F1;
$silver: #BDC3C7;
$concrete: #95A5A6;
$grey: #7F8C8D;
$cabaret: #D2527F;
$sunglo: #E26A6A;


