@import 'https://fonts.googleapis.com/css?family=Raleway';

html, body {
  font-family: 'Raleway', sans-serif;
  font-size: 16px;
}
body {
  font-size: 18px;
}

a {
  color: $primary-color;
  text-decoration: none;
  &:hover {
    text-decoration: underline;
  }
}

pre {
  font-size: 1em;
  white-space: pre-wrap;
  overflow-x: auto;
  width: calc(100% - 20px);
  position: relative;
  padding: 30px 10px 10px 10px !important;
  margin: 20px 10px !important;
  font-size: 16px !important;
  &:before {
    content: "Code example";
    font-size: 0.65rem;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    text-transform: uppercase;
    display: block;
    background: $primary-color;
    color: $secondary-color;
    padding: 5px 10px;
    letter-spacing: 3px;
  }
  code {
    background: transparent;
    padding: 0;
  }
}
code {
  background: #f5f2f0;
  padding: 3px 6px;
}
