// Navigation
body {
  height: 101vh;
  min-height: 101vh;
}
nav {
  height: 3.125rem;
  width: 100%;
  background: white;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 2;
  display: flex;
  justify-content: space-between;
  border-bottom: 0.0625rem solid $concrete;
  a {
    color: $nightly;
    text-decoration: none;
    display: inline-block;
    padding: 1.05rem 0.5rem;
    margin: 0;
    transition: color 150ms ease-in-out;
    &:hover, &:active {
      color: $rose;
      text-decoration: none;
    }
    @media(max-width: 450px) {
      padding: 1.05rem 0.5rem;
    }
    &.disabled {
      color: lighten($nightly, 60%);
      cursor: no-drop;
   }
  }
  .logo {
    align-self: flex-start;
    margin-left: 2.5rem;
    margin-top: -0.8rem;
    padding: 0;
    color: $nightly;
    @media(max-width: 450px) {
      margin-left: 0.5rem;
    }
    svg {
      margin-top: 10px;
      g#gridder-logo {
        rect {
          //fill: $nightly;
        }
      }
    }
    span {
      color: $nightly;
      font-size: 2rem;
      font-weight: 100;
      vertical-align: 15px;
      margin-left: 0px;
      @media(max-width: 450px) {
       display: none;
      }
    }
  }
}
