.btn {
	// Normal Button
	font-size: 1rem;
	background: $powder;
	border: 0.0625em solid $silver;
	color: $nightly;
	display: inline-block;
	font-weight: 300;
	text-decoration: none;
	border-radius: 0.2em;
	margin: 0.15em;
	padding: 0.7em 2em;
	cursor: pointer;
	text-align: center;
	&:hover {
		background: darken($powder, 10%);
		text-decoration: none;
	}
	&:active {
		background: darken($powder, 20%);
	}

	// Primary Butotn
	&.primary {
		background: $blue;
		border-color: darken($blue, 15%);
		color: white;
		&:hover {
			background: lighten($blue, 5%);
		}
		&:active {
			background: darken($blue, 5%);
		}
	}

	// Success Button
	&.success {
		background: $green;
		border-color: darken($green, 10%);
		color: white;
		&:hover {
			background: lighten($green, 5%);
		}
		&:active {
			background: darken($green, 5%);
		}
	}

	// Warning Button
	&.warning {
		background: $sun;
		border-color: darken($sun, 10%);
		color: white;
		&:hover {
			background: lighten($sun, 5%);
		}
		&:active {
			background: darken($sun, 5%);
		}
	}

	// Error Button
	&.error {
		background: $rose;
		border-color: darken($rose, 10%);
		color: white;
		&:hover {
			background: lighten($rose, 5%);
		}
		&:active {
			background: darken($rose, 5%);
		}
	}

	// Disabled Button
	&.disabled {
		color: $silver;
		cursor: no-drop;
		&:hover {
			background: $powder;
			border-color: $silver;
		}
		&:active {
			background: $powder;
		}
	}

	// Small Button
	&.small {
		padding: 0.5em 2em;
	}

	// Big Button
	&.big {
		padding: 1.2em 3em;
	}

	// Full Width Button
	&.full-width {
		display: block;
		width: 100%;
	}
}